<!DOCTYPE html>
<html>
<head>
  <title>Systemtarjeta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-info">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
          <%= value %>
      </div>
  <% end %>
<%= yield %>


</body>
</html>
