
<nav class="navbar   navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Points4All</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%= link_to "Home", root_path %> </li>
      <% if current_user %>
      <% if current_user.rol == 'admin'%>
      <li class="active"><%= link_to "Panel Admin", zona_admin_index_path %> </li>

      <%end%>
    <li>   <%= link_to 'Welcome ' + current_user.nombre, inicio_usuario_index_path %></li>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
<% else %>
  <li>  <%= link_to 'Login', new_user_session_path %></li>
<% end %>


<li><a href="#">Contacto</a></li>
<li><a href="#">Ayuda</a></li>
    </ul>
  </div>
</nav>
<p id="notice"><%= notice %></p>
<div class="container">
<h1> Premios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Imagen</th>

      <th>Concepto</th>
      <th>Stock</th>
      <th>Puntos</th>
      <% if current_user %>
     <% if current_user.rol == 'admin'%>
       <th>Fecha baja</th>
      <%end%>
      <%end%>      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user %>
    <% if current_user.rol != 'admin'%>
      <% @premios = Premio.where(fecha_baja:nil) %>
      <%else%>
      <%@premios = Premio.all%>
      <%end%>
<%end%>
    <% @premios.each do |premio| %>
      <tr>
        <td><%= image_tag premio.photo, :class => "img-responsive"%></td>
        <td><%= premio.concepto %></td>
        <td><%= premio.stock %></td>
        <td><%= premio.puntos %></td>
        <td><%= link_to 'Visitar', premio %></td>

        <% if current_user %>
        <% if current_user.rol == 'admin'%>
        <td><%= premio.fecha_baja %></td>

         <td><%= link_to 'Editar', edit_premio_path(premio) %></td>
        <td><%= link_to 'Dar de baja', premio, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
<% if current_user.rol == 'admin'%>
<%= link_to 'New Premio', new_premio_path %>
<%end%>
<%end%>
</div>
