<%= form_for(@movimiento) do |f| %>
  <% if @movimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimiento.errors.count, "error") %> prohibited this movimiento from being saved:</h2>

      <ul>
      <% @movimiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tarjetum_id %><br>
    <%= f.text_field :tarjetum_id %>
  </div>
  <div class="field">
    <%= f.label :importe %><br>
    <%= f.text_field :importe %>
  </div>
  <div class="field">
    <%= f.label :puntos %><br>
    <%= f.number_field :puntos %>
  </div>
  <div class="field">
    <%= f.label :premio_id %><br>
    <%= f.text_field :premio_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
