<head>    <title>New Age - Start Bootstrap Theme</title>


      <!-- Bootstrap Core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

      <!-- Plugin CSS -->
      <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
      <link rel="stylesheet" href="vendor/device-mockups/device-mockups.min.css">

      <!-- Theme CSS -->
      <link href="css/new-age.min.css" rel="stylesheet">


<style>
      .background_image {
          background: url('/assets/indexFondo.PNG');


      }
      .jumbotron{background:transparent;}

</style>
</head>

<nav class="navbar   navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Points4All</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%= link_to "Home", root_path %> </li>
      <% if current_user %>
      <% if current_user.rol == 'admin'%>
      <li class="active"><%= link_to "Panel Admin", zona_admin_index_path %> </li>

      <%end%>
    <li>   <%= link_to 'Welcome ' + current_user.nombre, inicio_usuario_index_path %></li>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
<% else %>
  <li>  <%= link_to 'Login', new_user_session_path %></li>
<% end %>


<li><a href="#">Contacto</a></li>
<li><a href="#">Ayuda</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<h1>Hola <%= current_user.nombre %></h1>
<h2>¿Que quieres hacer?</h2>


<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Mi Perfil</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Email</th>

            <th colspan="3"></th>
          </tr>
        </thead>

  <tbody>

      <tr>
        <td><%= current_user.nombre %></td>
        <td><%= current_user.apellidos %></td>
        <td><%= current_user.direccion %></td>
        <td><%= current_user.telefono %></td>
        <td><%= current_user.email %></td>

      </tr>

  </tbody>
</table>
<%= link_to 'Editar perfil', edit_user_registration_path %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Mis Movimientos</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render "movimientos/index", user: current_user %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Mi Tarjeta</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">

      <%= render "tarjeta/index", user: current_user %>
    </div>
  </div>
    </div>
  </div>

</div>













    </div>
 </div>
</div>
</div>
