<p id="notice"><%= notice %></p>

<h1>Listing Almacenbajas</h1>

<table>
  <thead>
    <tr>
      <th>Motivo</th>
      <th>User</th>
      <th>Tarjetum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @almacenbajas.each do |almacenbaja| %>
      <tr>
        <td><%= almacenbaja.motivo %></td>
        <td><%= almacenbaja.user %></td>
        <td><%= almacenbaja.tarjetum %></td>
        <td><%= link_to 'Show', almacenbaja %></td>
        <td><%= link_to 'Edit', edit_almacenbaja_path(almacenbaja) %></td>
        <td><%= link_to 'Destroy', almacenbaja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Almacenbaja', new_almacenbaja_path %>
