<p id="notice"><%= notice %></p>

<h1>Listing Tarjeta</h1>

<table>
  <thead>
    <tr>
      <th>Numref</th>
      <th>Puntos</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tarjeta.each do |tarjetum| %>
      <tr>
        <td><%= tarjetum.numref %></td>
        <td><%= tarjetum.puntos %></td>
        <td><%= tarjetum.usuario %></td>
        <td><%= link_to 'Show', tarjetum %></td>
        <td><%= link_to 'Edit', edit_tarjetum_path(tarjetum) %></td>
        <td><%= link_to 'Destroy', tarjetum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tarjetum', new_tarjetum_path %>
